body{
  color: #213547 !important;
  background-color: #fff;
}

.home {
  position: relative;
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #37c871 !important;
}

.text-grad{
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grad-sm{
  background: -webkit-linear-gradient(85deg,#42d392 25%,#647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skewx {
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  animation: Gradient 15s ease infinite;
  width: 100%;
  min-height: 600px;
  max-height: 1200px;
  background-size: 100% 100%;
  transform: skew(0, -4deg);
}

.sec2{
  background: #f2f4f8;
}

.white-bg {
  background: #fff;
}

.card-c{
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.09);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.card-c:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card-c:hover .overlay {
  transform: scale(4) translateZ(0);
}

.icon {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
}

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  transform: skew(0, 4deg);
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.3;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}

.btn{
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
}


.footer {
	align-items: center;
	background-color: #000;
	bottom: 0;
	color: #666666;
	display: flex;
	font-size: 5em;
	height: 500px;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 0;
}

/* .txtfld {
  border: 2px solid #37c871 !important;
  border-radius: 10px;
} */

@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}